@import url("https://use.typekit.net/oxn5ohj.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  width: 100dvw;

  @apply overflow-hidden font-imb;
}

@layer utilities {
  nav a {
    @apply text-white;
  }
  .fullWidth {
    height: 100dvh;
    width: 100dvw;
  }
  .maxWidth {
    width: 100dvw;
  }
  .verticalLine {
    border-left: solid #1e1e1e;
  }
  .mainpadding {
    @apply px-5 xl:px-40 lg:px-16 md:px-12 max-[400px]:px-2;
  }
  .heddertext {
    @apply text-2xl font-semibold md:text-3xl xl:text-5xl lg:text-4xl;
  }
  .text-balance {
    text-wrap: balance;
  }
}
